.row {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1%;
}

.column {
  background-color: yellow;
  padding: 50px;
  margin: 15px 0;
  border: 1px solid yellow;
  border-radius: 20px;
  flex: 0 0 24%;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .row {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .column {
    flex: 0 0 45%;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    justify-content: space-around;
  }
  .column {
    flex: 0 0 98%;
  }
}

